 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: hsla(215, 100%, 0%, 1);
    color: white;
    font-family: "Courgette",sans-serif;
}
section {
    width: 100%;
}
.b {
    border: 1px solid gray;
}
.p {
    padding: 0.5rem;
}
.ms {
    min-height: 100dvh;
} 
/* FLex controller /container Cross Axis  */
.fcy {
    display: flex;
    flex-direction: column;
     align-items: center ; 
    justify-content: center;
    gap: 0.5rem;
}
 /* Flex controller /container for main axis   */
.fcx{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.jsb {
    justify-content: space-between;
}
.box {
    width: 100%;
    max-width: 600px;
    min-height: 1rem;
    max-height: 10rem;
    border-radius: 5px;
    overflow: hidden;
}  